<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js">
    </script>
    <style>
        
    </style>
</head>
<body>
    <div id="app">
        <p>
            <input type="text" v-model="greeting">
        </p>

        <input v-model="searchText" />
        <input :value="searchText" @input="searchText = $event.target.value" />

        {{greeting}}{{greeting.length}}
    </div>
    
    <script>
        Vue.createApp({
            data(){
                return {
                    greeting: 'Hello'
                };
            }

        }).mount('#app');
    </script>
</body>
</html>